body {
/*    font-family: 'GerardDisplay-ExMd';*/
    background-color: peachpuff;
    
    width: 100vw;
    height: 100vh;
    margin: 0;
    
/*    overflow: hidden;*/
}

.box {
    background-color:#ce9f75;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.box-a {
    margin-right: 2vw;
    font-size: 2vw;
    text-decoration: none;
    color: black;
}

article {
    margin: 2.6vw;
    margin-bottom: 10vw;
    font-size: 2.6vw;
    text-align: justify;
}


@media (max-width: 650px) {
    img {
        width: 100%;
        height: ;
        top: 0%;
    }
    
    .box {
        height: 7%;
        justify-content: space-evenly;
        
        
    }

    .box-a {
        font-size: 4vw;
    }


